In [4]:
#open pandas DF 
import pandas as pd
Guam_data = pd.read_csv("../Raw_Data/GLTMP_corals_2010-2019.csv")
print(Guam_data.columns)

Index(['SITE_ID', 'SITE', 'SITE_NAME', 'STATION', 'STATIONID', 'LATITUDE',
       'LONGITUDE', 'DATE_TIME', 'OBSERVERID', 'OBSERVER', 'WAVEEXPOSURE',
       'DEPTH', 'STRATUM', 'STATION_TYPE', 'CORALTRANSECTID',
       'TRANSECT_NUMBER', 'TRANSECT_LENGTH', 'CORALQUADRATID', 'TRANSECT_SIDE',
       'TRANSECT_LOCATION', 'QUADRAT_LENGTH', 'QUADRAT_WIDTH', 'APHIAID',
       'CORAL_CODE', 'SCIENTIFIC_NAME', 'GENUS', 'RANK', 'FUNCTIONAL_GROUP',
       'COLONY_LENGTH', 'COLONY_WIDTH', 'OLD_DEAD', 'RECENT_DEAD', 'DZ_CODE',
       'DISEASE', 'SEVERITY', 'DZ_CODE2', 'DISEASE2', 'SEVERITY2', 'PHOTO_YN',
       'COLLECTED_YN', 'FRAGMENT_YN', 'REMNANT_YN', 'COMMENT_'],
      dtype='object')

/var/folders/17/9kvd528n47j282gcln4v5zvc0000gp/T/ipykernel_44473/1212573050.py:3: DtypeWarning: Columns (34) have mixed types. Specify dtype option on import or set low_memory=False.
  Guam_data = pd.read_csv("../Raw_Data/GLTMP_corals_2010-2019.csv")

In [12]:
# isolating Genus for counting
Guam_data = Guam_data[["GENUS","DISEASE","DISEASE2"]]
Guam_data

             GENUS  DISEASE DISEASE2
0       Astreopora  Healthy  Healthy
1            Favia  Healthy  Healthy
2       Leptastrea  Healthy  Healthy
3        Montipora  Unknown  Healthy
4           Pavona  Healthy  Healthy
...            ...      ...      ...
22204      Porites  Healthy  Healthy
22205         NONE  Healthy  Healthy
22206         NONE  Healthy  Healthy
22207  Pocillopora  Healthy  Healthy
22208         NONE  Healthy  Healthy

[22209 rows x 3 columns]

In [16]:
# select Disease column 
Guam_data['DISEASE'][Guam_data['DISEASE'].isnull()] = "Healthy"
Guam_data['DISEASE2'][Guam_data['DISEASE2'].isnull()] = "Healthy"
Guam_data

/var/folders/17/9kvd528n47j282gcln4v5zvc0000gp/T/ipykernel_44473/1679691492.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Guam_data['DISEASE'][Guam_data['DISEASE'].isnull()] = "Healthy"
/var/folders/17/9kvd528n47j282gcln4v5zvc0000gp/T/ipykernel_44473/1679691492.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Guam_data['DISEASE2'][Guam_data['DISEASE2'].isnull()] = "Healthy"

             GENUS  DISEASE DISEASE2
0       Astreopora  Healthy  Healthy
1            Favia  Healthy  Healthy
2       Leptastrea  Healthy  Healthy
3        Montipora  Unknown  Healthy
4           Pavona  Healthy  Healthy
...            ...      ...      ...
22204      Porites  Healthy  Healthy
22205         NONE  Healthy  Healthy
22206         NONE  Healthy  Healthy
22207  Pocillopora  Healthy  Healthy
22208         NONE  Healthy  Healthy

[22209 rows x 3 columns]

In [1]:
# count of null aka healthy, for 1 coral:total count of diseased 1, then total count of disease 2
#combine 
#sum of diseased 1&2 will be the total diseased corals, count total nulls for disease 1 
# make example data set after figuring out

In [17]:
#Count of corals by genus and Disease 1 column 
Grouped_Guam_data = Guam_data.groupby(['GENUS','DISEASE']).agg(Disease_count = ("DISEASE","count")).reset_index()
Grouped_Guam_data

              GENUS                  DISEASE  Disease_count
0      Acanthastrea                  Healthy             58
1      Acanthastrea                   Paling              1
2      Acanthastrea                  Unknown              3
3          Acropora  Crown of thorns seastar              4
4          Acropora                  Healthy             86
..              ...                      ...            ...
128  Stylocoeniella                  Healthy            272
129  Stylocoeniella                  Unknown              5
130      Stylophora                Bleaching              1
131      Stylophora                  Healthy             27
132      Stylophora                   Paling              2

[133 rows x 3 columns]

In [24]:
# Count of corals by genus and Disease 2 column 
Grouped_Guam_data_2 = Guam_data.groupby(['GENUS','DISEASE2']).agg(Disease2_count = ("DISEASE2","count")).reset_index()
#Grouped_Guam_data_2["DISEASE"]= Grouped_Guam_data_2["DISEASE2"]
Grouped_Guam_data_2

             GENUS               DISEASE2  Disease2_count
0     Acanthastrea                Healthy              62
1         Acropora                Healthy              97
2       Astreopora                Healthy             386
3      Coscinaraea                Healthy               1
4       Cycloseris                Healthy               1
5       Cyphastrea                Healthy             281
6      Diploastrea                Healthy               9
7    Echinophyllia                Healthy               4
8       Echinopora                Healthy               2
9            Favia                Healthy            1097
10           Favia                 Paling               1
11         Favites                Healthy             174
12          Fungia                Healthy               7
13         Galaxea                Healthy             402
14      Goniastrea                Healthy             288
15       Goniopora                Healthy             235
16       Heliopora                Healthy              87
17      Hydnophora                Healthy              22
18      Leptastrea                Healthy            2239
19      Leptastrea                 Paling               1
20        Leptoria                Healthy             154
21        Merulina                Healthy               1
22       Millepora                Healthy               9
23     Montastraea                Healthy             166
24      Montastrea                Healthy               6
25      Montiopora                Healthy               4
26       Montipora                Healthy             468
27        Mussidae                Healthy               4
28            NONE                Healthy              66
29     Oulophyllia                Healthy              13
30    Parascolymia                Healthy               2
31          Pavona                Healthy             366
32       Platygyra                Healthy             175
33     Plesiastrea                Healthy               2
34     Pocillopora                Healthy             331
35         Porites          Coralliophila               1
36         Porites                Healthy           14330
37         Porites                 Paling               2
38         Porites  Pigmentation response               3
39         Porites      Sediment on coral               2
40      Psammocora                Healthy             399
41  Stylocoeniella                Healthy             277
42      Stylophora                Healthy              30

In [28]:
#Combine DFs 
Merged_Guam_data=pd.merge(Grouped_Guam_data,Grouped_Guam_data_2,how='outer',left_on=['GENUS','DISEASE'],right_on=['GENUS','DISEASE2'])
Merged_Guam_data.to_csv("../Processed_Data/Guam_corals.csv")